[submodule "retail-b2c-buyerapp-client-node-js"]
	path = retail-b2c-buyerapp-client-node-js
	url = https://github.com/shaijujohn1974/retail-b2c-buyerapp-client-node-js.git
	branch = main
[submodule "retail-b2c-buyerapp-ui-front"]
	path = retail-b2c-buyerapp-ui-front
	url = https://github.com/shaijujohn1974/retail-b2c-buyerapp-ui-front.git
	branch = main
